@font-face {
   font-family: 'Goudy Old Style Regular';
   font-display: swap;
   src: url('file:///Users/cyris/Library/Application%20Support/Mobirise.com/Mobirise/projects/project-2021-03-24_140632/fonts/Goudy%20Old%20Style%20Regular/font.ttf');
}
